*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00c6ff);
}

.container{
width:360px;
background:#fff;
padding:30px;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,.2);
}

h2{
text-align:center;
margin-bottom:25px;
}

label{
display:block;
margin-top:15px;
color:#555;
font-size:17px;
}

input,select{
width:100%;
padding:12px;
margin-top:8px;
border:none;
border-bottom:2px solid #ccc;
outline:none;
font-size:18px;
}

input:focus,
select:focus{
border-bottom:2px solid #007bff;
}

button{
width:100%;
margin-top:30px;
padding:15px;
background:#007bff;
color:white;
border:none;
border-radius:10px;
font-size:20px;
cursor:pointer;
}

button:hover{
background:#0056d2;
}

#error{
margin-top:15px;
color:red;
font-weight:bold;
text-align:center;
}